.cardioEquipments {
  margin-top: 60px;

  .hero {
    width: 100%;
    aspect-ratio: 1410 / 420;
    min-height: 200px;
  }

  .sort {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .summary {
    margin-top: 20px;
    font-size: 14px;
    color: #384255;
    opacity: 0.6;
  }

  .wrapper {
    .productsWrapper {
      margin-top: 30px;
      display: flex;
      align-items: flex-start;

      .products {
        max-width: 1200px;
        border-right: 1px solid rgba(133, 143, 164, 0.2);

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;

        .productCard {
          max-width: 270px;
        }
      }

      .empty {
        width: 100%;
        min-height: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }

      .emptyTitle {
        font-size: 16px;
        color: #384255;
      }

      .filters {
        .reset {
          margin-top: 20px;
          margin-left: 30px;
          padding: 0;
          border: 0;
          background: none;
          cursor: pointer;
          font-size: 14px;
          text-decoration: underline;
          color: #384255;
        }
      }
    }
  }
}
